<h1>Brands</h1>
<div class="main-content">
  <% if @brands == [] %>
  <p>There are no brands saved in the database yet.</p>
  <% else %>
  <ul>
    <% @brands.each() do |brand| %>
    <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  <a href='/brands/<%= brand.id() %>'><%= brand.name() %></a></li>
    <% end %>
  </ul>
  <% end %>
  <h3>Add a brand:</h3>
  <form action="/brands" method="post">
    <div class="form-group">
      <label for="brand_name">Brand Name:</label>
      <input type="text" name="brand_name">
    </div>
    <button type="submit" class="btn">Add Brand</button>
  </form>
</div>
