<h1>Shoe Distribution</h1>

<p>
  <em>Shoe Distribution:</em> Your app to track your favorite brands and find your favorite stores.
</p>

<ul>
  <li><a href='/stores/new'>Add a New Store</a></li>
  <li><a href='/stores'>View All Stores</a></li>
</ul>
