<h1>Shoe Finder</h1>
<img class = "round" src="img/shoes.jpg" alt="A row of high heel shoes" />
<div class="centered-ul">
  <ul>
    <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Track your favorite brands!</li>
    <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Make shopping easy!</li>
  </ul>
</div>
<div class="text-center">
  <button class="btn btn-lg"><a href='/stores/new'>Add a New Store</a></button>
  <button class="btn btn-lg left"><a href='/stores'>View All Stores</a></button>
  <button class="btn btn-lg left"><a href='/brands'>View All Brands</a></button>
</div>
