<h1>Stores</h1>
<% if @stores == [] %>
<p>There are no stores saved in the database yet.</p>
<% else %>
<ul>
  <% @stores.each() do |store| %>
  <li><a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
  <% end %>
</ul>
<% end %>
<ul>
  <li><a href='/stores/new'>Add a New Store</a></li>
  <li><a href='/'>Home</a></li>
</ul>
