<h1>Stores</h1>
<div class="main-content" id="stores">
  <% if @stores == [] %>
  <p>There are no stores saved in the database yet.</p>
  <% else %>
  <ul>
    <% @stores.each() do |store| %>
    <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  <a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
    <% end %>
  </ul>
  <% end %>
</div>
<div class="text-center">
  <button class="btn"><a href='/stores/new'>Add a New Store</a></button>
  <button class="btn"><a href='/'>Home</a></button>
</div>
