<h1><%= @store.name() %></h1>
<ul>
  <li><strong>Address:</strong> <%= @store.address() %></li>
  <li><strong>Phone:</strong> <%= @store.phone() %></li>
</ul>

<ul>
  <li><a href='/stores'>Back to Stores</a></li>
  <li><a href='/stores/new'>Add a New Store</a></li>
</ul>
